.places__title {
  margin: 0;
  color: white;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

@media screen and (max-width: 900px) {
  .places__title {
    font-size: max(32px, calc(72px + (100vw - 900px) * 0.27));
    line-height: max(35px, calc(76px + (100vw - 900px) * 0.27));
  }
}
