.header {
  padding: 28px 48px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 28px max(16px, 48px + (100vw - 900px) * 0.18) 0;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding-top: 16px;
  }
}
